.post-listing {
  padding-top: 1.8em;
  &__article {
    lost-utility: clearfix;
    padding-bottom: 1.5em;
    @include mq($from: desktop) {
      padding-bottom: 2.2em;
    }
    &:last-child {
      padding-bottom: 1em;
    }
  }
  &__title {
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  &__link {
    text-decoration: none;
    color: $header-color;
    &:hover {
      text-decoration: underline;
    }
  }
}
